.cap { text-align: center;text-transform: capitalize; }
.iconbox .marbtm { margin-bottom: 5%; }
.topmargin{ margin-top: 5%; }
#site-content #page-header {
    padding: 134px 0px 100px;
}
.imgCircle { border-radius:50%; max-height: 200px; max-width: 173px; }
.m { cursor: pointer; }
.menu-extra > ul > li > a:hover{color: #0263d4 ;}
.pad { padding: 20px; font-size: 15px; text-transform: uppercase; }
.menu-extra > ul > li > a {
    position: relative;
    display: block;
    font-size: 15px;
    line-height: 93px;
    padding: 0px 18.5px;
    outline: medium none;
    color: #333;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
#site-content #name { text-transform: capitalize; }
/* profile */
.list-group a dl dt ,.list-group a dl dd { text-align: left; }
.box-title-trader {
	background-color: #e4e4e4;
	border: 1px solid #bbb;
	text-align: center;
}
.box-title-trader > h5 {
	color: #0071bd;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-transform: uppercase;
}
.box-content-part1 .trader-plan {
	font-size: 18px;
}
.box-content-part2 .trader-discount1, .box-content-part2 .trader-plan {
	font-size: 18px;
}
.box-content-part3 .trader-discount2, .box-content-part3 .trader-plan {
	font-size: 18px;
}.box-content-part4 .trader-discount3, .box-content-part4 .trader-plan {
	font-size: 20px;}
.imagebox.imagebox-trader .well {
	margin-bottom: 0;
	background-color:transparent;
	border-radius: 0px;
	font-size: 18px;
	font-weight: bold;
}
.imagebox.imagebox-trader .well .btn { font-size: 16px; }
.imagebox.imagebox-trader .well:hover{
	-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
	position:relative;
}